

.container {
    max-width: 1000px;
    margin: 0 auto;
}

footer {
    margin-bottom: 40px;
}

.contacts {
    height: 400px;
    background-image: url(img/myphotoTur.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    padding-left: 35%;
}

img  {
    max-height: 400px;
}

section p {
    font-weight: bold;
}

textarea {
    max-width: 100%;
}

.codelist {
    margin-bottom: 16px;
    font-weight: 550;
}

.code {
    border: 1px solid #000;
    border-radius: 25px;
    margin-bottom: 16px;
}